.task
bin
node_modules
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
build/ios/xcode/overlay.json
build/ios/xcode/gen/
build/android/overlay.json
build/android/gen/
conf.ini
